<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <h1 style="letter-spacing: 13px">TOE TAC TIK</h1>
            <h6 style="letter-spacing: 5px">A Tik Tac Toe game</h6>
            <div class="mb-md-5 mt-md-4 pb-5">
              <button class="btn btn-outline-light btn-lg px-5 mt-5" routerLink="/playArea" type="submit">Play Now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


