<h3>Current Player: {{ player }} </h3>

<h2 *ngIf="winner">
  Player {{ winner }} won the game!
</h2>

<section class="gradient-custom">
  <div>
    <div class="board">
      <div class="card bg-dark text-white" style="border-radius: 1rem;">
        <div class="card-body p-5 text-center">
          <div class="1">
            <div class="d-flex" style="margin: 0 auto; justify-content: center">
              <div class="makeSquare"></div>
              <div class="makeSquare"></div>
              <div class="makeSquare"></div>
            </div>
            <div class="d-flex" style="margin: 0 auto; justify-content: center">
              <div class="makeSquare"></div>
              <div class="makeSquare"></div>
              <div class="makeSquare"></div>
            </div>
            <div class="d-flex" style="margin: 0 auto; justify-content: center">
              <div class="makeSquare"></div>
              <div class="makeSquare"></div>
              <div class="makeSquare"></div>
            </div>
            <button class="btn btn-outline-light btn-lg px-5 mt-4">Play Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
